* {
  --background:#FFFFFF;
  --background-hover: rgba(196, 196, 196, 0.3);

  --font-colour-body: #1E252C;

  --border-colour-focused: var(--font-colour-body);

  --font-family-body: 'Eczar', 'Georgia', serif;
  --font-size-small: 16px;
  --font-size-hero: 24px;
  --font-weight: medium;

}
