.Search {
    width: 680px;
    display: flex;
}

.Search-bar {
    flex: auto;
    margin-right: 22px;
}

.Search-button {
    flex: none;
}
.Search-button:focus {
    outline: 1px solid var(--border-colour-focused) !important;

}

div.Search-bar__control {
    border-bottom: 1px solid var(--font-colour-body);
    height: 55px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0
}

div.Search-bar__dropdown-indicator {
    color: inherit;
}

span.Search-bar__indicator-separator {
    background-color: inherit;
}

div.Search-bar__control--is-focused, div.Search-bar__control--is-focused:hover {
    border-color: transparent;
    box-shadow: none;
    outline: 1px solid var(--border-colour-focused) !important;
    
}
div.Search-bar__control--menu-is-open {
    border-radius: 0 !important;
}

div.Search-bar__Input {
    --font-family-body: 'Eczar', 'Georgia', serif !important;
    ;
}

div.Search-bar__option--is-focused {
    background-color: var(--background-hover);
}

